@import "tailwindcss";


@theme {
  --color-pavt-blue: #1E73BE;
  --color-pavt-second-blue: #BDCBCA;
}
body {
    width: 100%;        /* fixed width (or use max-width) */
    margin: 0 auto; 
    background-color: oklch(86.9% 0.022 252.894);
    
    /*display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;
    /*justify-content: center;  /* horizontal */
    /*align-items: center;      /* vertical */
    text-align: center;
    min-height: 100vh;        
  }
  
/*main {
    background-color: oklch(86.9% 0.022 252.894);

  }*/

*{
  
  font-family: var(--font-josefin);



}
