@import "tailwindcss";


@theme {
  --color-pavt-blue: #1E73BE;
  --color-pavt-second-blue: #BDCBCA;
}
body {
    width: 100%;        /* fixed width (or use max-width) */
    margin: 0 auto; 
    background-color: oklch(86.9% 0.022 252.894);
    
    /*display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;
    /*justify-content: center;  /* horizontal */
    /*align-items: center;      /* vertical */
    text-align: center;
    min-height: 100vh;        
  }
  
/*main {
    background-color: oklch(86.9% 0.022 252.894);

  }*/
border-blue{
  border-color: #58A0C8;
  
  
}

.bg-blue1{
  background-color: #113F67;
  }
.font-blue{
  color: #58A0C8;
  }
.font-blue1{
  color: #113f67;
  }
.bg-blue2{
  background-color: #58A0C8;
}

.font-gulzar {
  font-family: var(--font-garamond);
}
.font-inter { 
  font-family: var(--font-inter);
}
.font-josefin {
  font-family: var(--font-josefin);
}
/*{
  
  font-family: var(--font-garamond);



}*/
